Source: openmediavault-dnsmasq
Section: net
XB-Plugin-Section: network
Priority: optional
Maintainer: Simon Pascal Baur <simonbaur@0rca.ch>
Build-Depends: debhelper (>= 9.0.0 )
Standards-Version: 3.9.6
Homepage: http://0rca.ch/

Package: openmediavault-dnsmasq
Architecture: all
Depends: ${misc:Depends}, openmediavault (>= 2.1), dnsmasq
Description: OpenMediaVault dnsmasq (local DNS and DHCP server) plugin
 Configure local DNS and DHCP through OpenMediaVault
